.Social-Card {
    width: 640px;
    border: solid 1px black;
    display: grid;
    grid-template: 
        [row1-start] "header header header" 40px [row1-end]
        [row2-start] "none picture picture" 200px [row2-end]
        [row3-start] "none caption caption" 125px [row3-end]
        [row4-start] "none buttons buttons" 40px [row4-end]
        / 40px auto 40px;
}

.Social-Card-Content {
    margin-top: 5px;
    grid-area: picture;
}

.Social-Card-Content-Image {
    height: 100%;
    width: 100%;
}

.Social-Card-Caption {
    grid-area: caption;
    border: 1px solid gray;
    padding-left: 15px;
}

.Social-Card-Caption-Title {
    margin: 10px auto;
}

.Social-Card-Caption-Nickname {
    color: rgb(85, 85, 85);
}

.Social-Card-Buttons {
    grid-area: buttons;
    display: flex;
    height: 100%;
}

.Social-Card-Button {
    height: 20px;
    width: 20px;
    margin: auto 60px auto 0;
}